Project Metadata:
- **Dependencies**:
{% for file, info in repo_metadata['project_info']['dependencies'].items() %}
    - **File**: {{ file }}
    - **Language**: {{ info.language }}
    - **Package Manager**: {{ info.package_manager }}
    - **Dependencies**:
    {% for dep in info.dependencies %}
        - {{ dep }}
    {%- endfor %}
{% endfor %}
Map:
{{ repo_map }}

Most relevant files:
{{ files }}

<task>
    {{ message }}
</task>
