Task description:
<task>
{{ message }}
</task>
Project context:
- Repository Root: {{ root }}
- OS: {{ os }}
Repository Metadata:
<repoMetadata>
{{ repo_metadata }}
</repoMetadata>
File contents (DO NOT use read_file for these). If you use read_file for these file, you will receive a penalty:
<fileContents>
{{ files }}
</fileContents>